<form class="form-horizontal" #formGroup2="ngForm" (ngSubmit)="_fnOnSubmit(userRegisterData.id)" >
        <fieldset>
          <div id="legend">
            <legend class="">Register</legend>
            <p>{{isDisable }}</p>
          </div>
          <div class="control-group">
            <!-- Username -->
          
            <label class="control-label"  for="username">Username</label>
            <div class="controls">
              <input type="text" 
              id="username" 
              required

              name="username" 
              placeholder="User Name" 
              [(ngModel)]="userRegisterData.userregistername"
              class="input-xlarge form-control ">
              <p class="help-block">Username can contain any letters or numbers, without spaces</p>
            </div>
          </div>
       
          <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">E-mail</label>
            <div class="controls">
              <input type="email" 
              id="email" 
              name="email" 
              placeholder="" 
              [(ngModel)]="userRegisterData.userregisteremail"
              class="input-xlarge form-control" required>
              <p class="help-block">Please provide your E-mail</p>
            </div>
          </div>

                 
          <div class="control-group">
          
            <label class="control-label" for="password">Password</label>
            <div class="controls">
              <input type="password" 
              id="password" 
              name="password" 
              required
              placeholder="" 
              class="input-xlarge form-control"
              [(ngModel)]="userRegisterData.userregisterpass">
              <p class="help-block">Password should be at least 4 characters</p>
            </div>
          </div>
       
          <div class="control-group">
            <!-- Password -->
            <label class="control-label"  for="password_confirm">Password (Confirm)</label>
            <div class="controls">
              <input type="password" 
              id="password_confirm"
               name="password_confirm" 
               placeholder="" 
               required
               [(ngModel)]="userRegisterData.userregisterconfpass"
               class="input-xlarge form-control">
              <p class="help-block">Please confirm password</p>
            </div>
          </div>
          <div class="control-group">
              <label class="control-label" for="company">Company</label>
              <div class="controls">    
                <select id="company"  
                name="userselectData"
                class="form-control" 
                required
                [(ngModel)]="userRegisterData.selectdata">
                    <option value="">none</option>
                    <option value="small">small</option>
                    <option value="medium">medium</option>
                    <option value="large">large</option>
                  </select> 
                </div>
          </div>
          
          <div class="control-group" >
          
            <label class="control-label" for="ChkBK">Game of Thrones</label>
            <div class="controls">{{userRegisterData.TL}}
              <div>
                <input type="checkbox"  required [(ngModel)]="userRegisterData.TL" id="Tyrion_Lannister"  name="userChoicedata1" value="Tyrion Lannister" >
                <label for="TL">Tyrion Lannister  </label>
              </div>
              <div>
                <input type="checkbox"  [checked]="userRegisterData.JM" id="Jaime_Lannister" [(ngModel)]="userRegisterData.JM" name="userChoicedata2" value="Jaime Lannister" >
                <label for="JL">Jaime Lannister </label>
              </div>
              <div>
                <input type="checkbox"  id="Rajesh_Lannister"  [(ngModel)]="userRegisterData.RL" name="userChoicedata3" value="Jaime Lannister" >
                <label for="RJ">Rajesh Lannister </label>
              </div>
            </div>
          </div>
          <div class="control-group" >
          
          <div class="radio-inline">
              <label class="control-label" for="RadioBTN">Radio BTN</label>
            <input id="gender" type="radio" name="genderControl" [(ngModel)]="userRegisterData.male" [value]="true"   />
            <label class="radio-label"> Male</label>
            <input id="gender" type="radio" name="genderControl"  [(ngModel)]="userRegisterData.male" [value] ="false" />
            <label class="radio-label">Female</label>
          </div>
          </div>
          
          <div class="control-group">
            <!-- Button -->
           <!-- <pre> {{formGroup2 | json}}</pre> -->
           <label class="control-label" for="Sbmit"></label>
              
            <div class="controls" >
              <button  [disabled]="formGroup2.invalid" type="submit" class="btn btn-success" >{{userRegisterData.id ? 'Update' : 'Register'}}</button>
            </div>
            <!-- {{userRegisterData | json}} -->
          </div>
        </fieldset>
      </form>