<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<div class="container">
  <div class="row">
      <div class="form_bg">
          <form class="form-signin"
           #formGroup1="ngForm" (ngSubmit)="_fnLogin()">
               <h2 class="text-center">Login Page</h2>
              <br/>
              <div class="form-group">
                  <input 
                  type="email" 
                  class="form-control" 
                  [(ngModel)]="userData.username"
                  id="userid" placeholder="User id" required
                  name="uname">
              </div>
              <div class="form-group">
                  <input type="password" 
                  [(ngModel)]="userData.password"
                  class="form-control" id="pwd" 
                  placeholder="Password" name="pass" required>
              </div>
              <br/>
              <div class="align-center">
               
                  <button [disabled]="formGroup1.invalid" type="submit" class="btn btn-default" id="login">Login</button>
                  <button [disabled]="formGroup1.invalid"   id="cancel" name="cancel" class="btn btn-default" (click)="_fnCancle()">Cancel</button>
              </div>
        
            </form>
            <a style="cursor: pointer;"  (click)="openModal(templatedata)"> Register</a>
      </div>

      

    </div>
   
</div>

<app-employelist [employeRegistration]="emplist" [isadmincredintial]='false'></app-employelist>


<ng-template #templatedata>
  <div class="modal-body ">
    <app-registration 
    [isDisable]="userRegisterData"
    (onRegisterUpdate)="getRegData()"
    [userRegisterData] = "userRegisterData" (_onRegister)="Register()"></app-registration>
  </div>
</ng-template>






