
  <!-- <pre>{{ employeRegistration | json }}</pre> -->

<div><table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>Email</th>
        <th *ngIf="isadmincredintial">User Name</th>
        <th *ngIf="isadmincredintial">PassWord</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let emp of employeRegistration">
        <td>{{ emp.id }}</td>
        <td>{{ emp.userregistername}}</td>
        <td>{{ emp.userregisteremail}}</td>
        <td *ngIf="isadmincredintial">{{ emp.userregistername}}</td>
        <td *ngIf="isadmincredintial">{{ emp.userregisterpass}}</td>
        
        <td>
            <span class="glyphicon glyphicon-pencil" ></span>
            &nbsp;
            &nbsp;
            <span class="glyphicon glyphicon-trash" (click) = "openDeleteModel(emp.id,deletetemplate)"></span>
  
        </td>
      </tr>
     
    </tbody>
  </table>
</div>


<ng-template #deletetemplate>
    <div class="modal-body text-center">
      <p>Do you want to confirm?</p>
      <button type="button" class="btn btn-default" (click)="Delete_confirm()" >Yes</button>
      <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
    </div>
  </ng-template>
